body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


#boo {
    width: 100vh;
    height: auto;
}


@keyframes strokeAnimation {
    25% {
        stroke: yellow;
        fill:yellow;
    }

    50% {
        stroke: hotpink;
        fill: hotpink;
    }

    75% {
     stroke: rgb(0, 94, 255);
     fill: rgb(0, 94, 255);   
    }

    100% {
        stroke: green;
        fill: green;
    }
}

 #body {
    animation: strokeAnimation 1s infinite alternate;
}