svg {
    width: 100%;
    height: auto;
}

@keyframes strokeAnimation {
    25% {
        stroke: yellow;
        fill:yellow;
    }

    50% {
        stroke: hotpink;
        fill: hotpink;
    }

    75% {
     stroke: rgb(0, 94, 255);
     fill: rgb(0, 94, 255);   
    }

    100% {
        stroke: green;
        fill: green;
    }
}

 #body {
    animation: strokeAnimation 1s infinite alternate;
}

@media screen and (max-width: 600px){
    #boo {
        animation: none;
    }
    
}